@tailwind base;
@tailwind components;
@tailwind utilities;


.overflow_scrollbar {
    height: calc(100vh - 155px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 6px !important;
  }
  ::-webkit-scrollbar-track {
    background: #15803d !important;
  }
  ::-webkit-scrollbar-thumb {
    background: #14532d  !important;
  }


.epr-body::-webkit-scrollbar {
  width: 6px !important;
}
.epr-body::-webkit-scrollbar-track {
  background: #15803d !important;
}
.epr-body::-webkit-scrollbar-thumb {
  background: #14532d !important;
}

input:-webkit-autofill {
  background-color: #f0f0f0 !important; /* Change background color for autofilled inputs */
  border-color: #4caf50 !important; /* Change border color for autofilled inputs */
  box-shadow: 0 0 0 1px rgba(76, 175, 80, 0.5) !important; /* Customize the focus shadow */
  transition: background-color 5000s ease-in-out 0s; /* Ensure the background color remains */
}

input, .react-tel-input .form-control {
  cursor: pointer;
   /* Shows text cursor (I-beam) when hovering over the input */
}

/* Ensure the border and background color are consistent when focused */
input:-webkit-autofill:focus {
  border-color: #4caf50 !important; /* Ensure border color stays consistent on focus */
  background-color: #f0f0f0 !important; /* Maintain background color on focus */
  box-shadow: 0 0 0 1px rgba(76, 175, 80, 0.5) !important; /* Customize focus shadow */
}

input:-webkit-autofill:focus {
  border-color: #4caf50 !important; /* Ensure the border color stays consistent when focused */
  box-shadow: 0 0 0 px rgba(76, 175, 80, 0.5) !important; /* Customize focus shadow */
}

.swiper-pagination {
  --swiper-pagination-color: #FF914D;
}

/* Override the default Swiper pagination bullet colors */
.swiper-pagination-bullet  {
  background-color: rgba(255, 145, 77, 0.4) !important  ;/* Inactive bullet color */
}

.swiper-pagination-bullet-active {
  background-color: #FF914D !important ; /* Active bullet color */
  opacity: 1; /* Ensures active bullet is fully opaque */
}